@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Festive&display=swap');
:hover{
    text-decoration: none;
}
    #top-container{
        display: flex;
        justify-content: space-around;
        background-color: bisque;
        text-decoration: none;
        font-family: festive;
        width: 100%;
        height: 100px;
        font-size: 22px;
        text-shadow: 3px;
        align-items: center;
        
    }
.left-container{
background-color: aquamarine;
margin: 0.5px;
height: 300px;
width: 50%;
padding: 20px;
border: 10px #000;
display: flex;

}
.right-container{
    background-color: darkgray;
    height: 300px;
    width: 50%;
    margin: 0.5px;
    padding: 20px;
    border: 10px #000;
    display: flex;

}
#main-container{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    border: 10px #000;
    margin: auto;
}
a{
    text-decoration: none;
    justify-content: space-around;
    font-family: festive;
    font-size: larger;
}
body{
    background-color: grey;
    margin: 0%;
}
img{
    height: 15%;
    width: 15%;
}